.sc-chat-window {
  width: 100%;
  overflow: hidden;
  flex: 1 1 auto;
  margin-bottom: 12px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 3px 3px 9px 0px #00000029;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
}

.sc-message-list {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
  overflow-y: scroll;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}
