.sc-message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-size: cover;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--bubble {
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
}

.sc-message--text {
  padding: 17px 20px;
}

.sc-message--content.sent .sc-message--bubble {
  color: white;
  background-color: #485460;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--content.received .sc-message--bubble {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}

.sc-message--template-content {
  background-color: white;
  overflow: hidden;
  border: 1px solid #F4F7F5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.sc-message--template-element {
  display: flex;
  padding-left: 10px
}

.sc-message--template-element input {
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: .8rem;
  line-height: 3;
}

/* todo: move to global styles/reset or somehwere */
textarea:focus, input:focus{
  outline: none;
}

.sc-message--template-element button {
  border: none;
  background-color: rgb(240, 16, 101);
  cursor: pointer;
}

.sc-message--emoji {
  font-size: 40px;
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}
